/* Styles généraux restent inchangés */

/* Adaptation pour les petits écrans (inférieurs à 600px) */
@media (max-width: 400px) {
    body {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;
    }
  
    #infoPerso {
      width: 85%;
      right: 0;
      padding: 1em;
    }
  
    #infoPerso>h1 {
      width: 100%;
    }
  
    #infoPerso>p {
      width: 100%;
    }

    aside{
      width: 7vw;
      height: 100%;
    }

    .aside-closed{
      width: 7vw;
      height: 100%;
    }
  
    .aside-open {
      width: 60vw;
      height: 100%;
      top: 0;
      left: 0;
      transition: none;
    }
  
    #list>li {
      padding: 0.5em 0.7em;
    }
  
    #list>li>img {
      width: 25vw;
      height: 12.5vh;
    }
  
    main {
      width: 100vw;
      height: auto;
      padding: 1em;
    }
  
    .Content {
      width: 90vw;
      height: auto;
      font-size: 1em;
      padding: 0.5em;
    }
  
    .Content > img {
      width: 30vw;
      height: 15vh;
    }
  
    #section0>section>img {
      width: 50%;
      height: auto;
    }
  
    #section0>section>ul {
      padding: 0.5em 0;
    }
  
    #experience, #Formation, #photo_cv {
      width: 100%;
    }
  
    #reseau>ul {
      flex-direction: column;
      gap: 0.5em;
    }
  
    #reseau img {
      width: 15vw;
      height: auto;
    }
  
    .progress-bar {
      width: 90%;
    }
  
    .close_section_btn {
      width: 5vw;
      height: auto;
    }
  
    .wave {
      height: 5em;
    }
  
    /* Ajustements des animations et transitions pour plus de fluidité sur mobile */
    .Content, aside, main, #infoPerso {
      transition: none;
    }
  
    .wave {
      animation: wave 15s linear infinite;
    }
  }
  