header{
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#experience{
    background-color: rgba(128, 128, 128, 0.549);
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0;
}


#formation{
    background-color: rgba(128, 128, 128, 0.477);
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 5px 0;
}


h1{
    width: 90%;
    text-align: center;
    padding: 10px 0;
    margin: 5px 0;
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
}

h2{
    color: gold;
    text-decoration: underline yellow;
    width: 100%;
    text-align: center;
}


.sub-formation{
    width: 45%;
    margin: 5px;
    background-color: rgba(240, 248, 255, 0.26);
    padding: 0 5px;
    border: 2px inset gold;    
}

.sub-formation span{
    font-weight: bolder;
    color: limegreen;
}

.sub-experience{
    width: 45%;
    margin: 5px;
    background-color: rgba(240, 248, 255, 0.26);
    padding: 0 5px;
    border: 2px inset gold;
}


header span{
    font-weight: bolder;
}

header img{
    width: 20%;
    border: 2px outset gold
}

header ul{
    width: 70%;
    list-style: none;
}

header li{
    padding: 8px 0;
}

main{
    padding: 5px;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    border: 3px outset var(--main-border-color);
}

footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-txt-color);
}