#presentation{
    width: 45%;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 0 5px;
    box-shadow: 6px 3px 2px 0px rgba(0, 0, 0, 1);
}

#info-perso{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#info-perso>img{
    width: 50%;
    border: 2px solid gold;
    border-radius: 100%;
    box-shadow: 6px 3px 2px 0px rgba(0, 0, 0, 1);
}


#info-perso>ul img{
    width: 60px;
    height: 50px;
    position: relative;
    top: 15px;
}

#portefo{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.549);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0;
}


#portefo span{
    color: red;
}

#experience {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.549);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0;
}


#formation {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.477);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    margin: 0;
}

.sub-formation:hover p{
    opacity: 1;
}

.sub-formation:hover{
    height: 200px;
}


.sub-formation {
    height: 66px;
    width: 45%;
    margin:5px;
    background-color: rgba(240, 248, 255, 0.26);
    padding: 0 5px;
    border: 2px inset gold;
    transition: height 0.3s;
    box-shadow: 6px 3px 2px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
}

.sub-formation p{
    opacity: 0;
    width: 100%;
    transition: opacity 0.8s;
}

.sub-formation span {
    font-weight: bolder;
    color: limegreen;
}

.sub-experience {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px 0;
}


.sub-experience>img {
    width: 100px;
    height: 100px;
}


.sub-experience>h2,
.sub-experience>p {
    padding: 5px;
    display: none;
    width: 100%;
}


.sub-portefo{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.37);
    margin: 5px;
}


.sub-portefo>p>a{
    background-color: black;
    border: 3px goldenrod outset;
    padding: 10px 5px;
    color: gold;
    text-decoration: none;
    transition: all 0.2s;
}

.sub-portefo>p>a:hover{
    background-color: goldenrod;
    border: black 3px outset;
    color: black;
}