body{
    background-image: url('../Image/bg-body.avif');
    background-size: cover;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, 'Courier New', Courier, monospace,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

:root {
    --header-bg-color: rgba(128, 128, 128, 0.741);
    --header-txt-color: gold;
    --main-bg-color: rgba(100, 45, 3, 0.761);
    --main-txt-color: rgb(250, 245, 245);
    --main-border-color: rgb(241, 209, 28);
    --footer-bg-color: gray;
    --footer-txt-color: gold;
    
}


header{
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header>ul img{
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
}

header span{
    font-weight: bolder;
}

header>img{
    width: 20%;
    border: 2px solid gold;
    border-radius: 100%;
}

header ul{
    width: 450px;
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 5px;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    border: 3px outset var(--main-border-color);
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-txt-color);
}

h1{
    width: 90%;
    text-align: center;
    padding: 10px 0;
    margin: 5px 0;
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
}

h2{
    color: gold;
    text-decoration: underline yellow;
    width: 100%;
    text-align: center;
}
