body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

nav {
    position: fixed;
    width: 100%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    top: 0px;
}

nav>ul::after {
    content: "";
    display: block;
    clear: both;
}

nav>ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav>ul>li {
    float: right;
    position: relative;
}

.sousmenu {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav>ul>li>a {
    padding: 20px 30px;
    color: #f6eba7;
}

nav li:hover .sousmenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.sousmenu li {
    border-bottom: 1px solid #f6eba7;
}

.sousmenu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: #f6eba7;
    width: 270px;
}

.accueil:hover {
    border-top: 5px solid#f6eba7;
    background-color: black;
}

.command:hover {
    border-top: 5px solid#f6eba7;
    background-color: black;
}

.contact:hover {
    border-top: 5px solid#f6eba7;
    background-color: black;
}

.produit:hover {
    border-top: 5px solid#f6eba7;
    background-color: black;
}

.login:hover {
    border-top: 5px solid#f6eba7;
    background-color: black;

}

.accueil .sousmenu {
    background-color: grey;
    color: #f6eba7;
}

.command .sousmenu {
    color: #f6eba7;
    background-color: grey;
}

.contact .sousmenu {
    background-color: grey;
    color: #f6eba7;
}

.produit .sousmenu {
    background-color: grey;
    color: #f6eba7;
}

#logoVivo {
    height: 40px;
    width: 40px;
    padding: 10px;
    left: 0px;

}

#logoVivo0 {
    float: left;
}

#nomserv {
    color: #f6eba7;
    top: 25px;
    font-size: smaller;

    font-size: x-small;
    font-weight: bold;
    float: left;
}

.textMain {
    padding: auto;
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 18px;
    font-weight: bolder;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
    width: 93%;
    margin: 64px auto;
    border: #f6eba7 5px solid;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: #3f3f3f;
    padding: 20px;
    text-decoration: underline;
    border: #f6eba7 outset 2px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: aliceblue;
}

#bdp {
    text-align: center;
    color: #f6eba7;
    padding: 5px;
    background-color: #252525;
    margin-bottom: 0px;
}

.box1main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(71, 46, 0);
    align-content: center;
    padding: 5px;
    background-image: url(fondecran4.jpg);
    background-size: cover;
}

.box1main img {
    width: 35%;
    height: 35%;
}

section {
    width: 45%;
    background-color: rgba(115, 115, 113, 0.44);
    padding: 5px;
}

iframe {
    width: 40%;
    margin-right: 5px;
    height: 50vh;
}